@import '../../styles/Utils/variables';

.portfolio-container {
    margin-left: 150px; 
}

.portfolio-title {
    text-align: left;
    color: $accent-color;
    font-size: 2rem;
    margin-bottom: 2rem; 
    margin-left: 14rem;
}


