@import '../../styles/Utils/variables';

.project-card {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    @media screen and (max-width: 768px) {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        width: 300px;
        height: auto;
    }

    @media screen and (min-width: 1920px) {
        width: calc(100% - 30px);
        height: 600px;
    }
}

.project-image {
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.project-card:hover {
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.project-content {
    padding: 10px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
}

.project-description {
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.project-tech-logos {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0;

    .tech-logo {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
}

.project-link {
    align-self: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}