// Colors
$primary-color: #2a2c2f;
$secondary-color: #425562;
$accent-color: #EA9215;
$font-color: #EEEEEE;

//Screen sizes
$small-screen: 480px;
$tablet-screen: 768px;
$normal-screen: 1080px;
$large-screen: 1440px;
$extra-large-screen: 2560px;