@import '../../styles/Utils/variables';

.about-me-container {
    display: flex;
    justify-content: flex-end;
    margin-left: 315px;
    position: relative;
    height: 100vh;

    .about-me-image-bg {
        position: absolute;
        left: 40px;
        height: 100vh;

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            transform: scaleX(-1);
        }
    }

    .about-me-card {
        background: rgba(42, 44, 47, 0.35);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.7px);
        padding: 30px;
        margin: 100px;
        width: 35%;
        height: 75%;
        z-index: 10;
        overflow: auto; 

        .about-me-text {
            text-align: left;
            padding: 15px;

            h2 {
                color: $accent-color;
                font-size: 2rem;
            }

            p {
                color: $font-color;
                font-size: 1rem;
            }
        }

        .about-me-skills {
            padding: 15px;

            h2 {
                color: $accent-color;
                font-size: 2rem;
                margin-bottom: 20px;
            }

            .skills-logos {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 10px;
                gap: 30px;

                .skill-icon {
                    color: #EEEEEE;
                    transition: color 0.3s;

                    &:hover {
                        color: #EA9215;
                    }
                }
            }
        }
    }
}

// Media query for screens smaller than 768px
@media screen and (max-width: 768px) {
    .about-me-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 100vh;

        .about-me-image-bg {
            display: none;
        }

        .about-me-card {
            width: 90%; 
            height: auto; 
            margin: 20px; 
            z-index: 10;
        }
    }
}

// Media query for screens between 768px and 1200px
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .about-me-container {
        margin-left: 0;
        justify-content: center;

        .about-me-image-bg {
            display: none;
        }

        .about-me-card {
            width: 100%; 
            height: auto;
            margin-left: 400px;
        }

        .about-me-text {
            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
}

// Media query for screens larger than 1920px
@media screen and (min-width: 1920px) {
    .about-me-container {
        .about-me-card {
            width: 40%;
            height: 75%;

            .about-me-text {
                text-align: left;
                padding: 15px;
            
                h2 {
                    color: $accent-color;
                    font-size: 3rem;
                }
            
                p {
                    color: $font-color;
                    font-size: 1.5rem;
                }
            }

            .about-me-skills {
                padding: 15px;

                h2 {
                    color: $accent-color;
                    font-size: 3rem;
                    margin-bottom: 20px;
                }

                .skills-logos {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;
                    gap: 35px;

                    .skill-icon {
                        color: #EEEEEE;
                        transition: color 0.3s;
                        font-size: 90px;
                        margin-top: 20px;

                        &:hover {
                            color: #EA9215;
                        }
                    }
                }
            }
        }
    }
}