* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Monteserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: linear-gradient(145deg, rgba(42, 44, 47, 1) 0%, rgba(66, 85, 98, 1) 100%);
    // background: linear-gradient(145deg, rgba(5, 27, 28, 1), rgba(7, 12, 12, 1), rgba(5, 27, 28, 1));
}