@import '../../styles/Utils/variables';

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 100px; 

    .contact-card {
        background: rgba(42, 44, 47, 0.48);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.3px);
        -webkit-backdrop-filter: blur(7px);
        width: 550px; 
        margin: 0 auto;

        h2 {
            text-align: center;
            color: #fff;
            margin-bottom: 30px;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;

        .input-container {
            position: relative;
            margin-bottom: 20px;

            input,
            textarea {
                width: 500px;
                border: none;
                border-bottom: 1px solid $accent-color;
                background: transparent;
                padding: 20px 5px;
                color: $font-color;
                font-size: 1rem;
                margin-left: 20px;

                &:focus {
                    outline: none;
                }

                &:focus+label {
                    transform: translateY(-30px);
                }

                &:valid+label {
                    transform: translateY(-30px);
                }
            }

            label {
                position: absolute;
                margin-left: 20px;
                bottom: 10px;
                left: 5px;
                color: $font-color;
                pointer-events: none;
                transition: transform 0.3s ease;
            }
        }

        button {
            padding: 10px 20px;
            margin-top: 20px;
            margin-left: 130px;
            margin-bottom: 30px;
            border: none;
            border-radius: 5px;
            background-color: $accent-color; 
            color: #fff;
            cursor: pointer;
            width: 300px;

            &:hover {
                background-color: darken($accent-color, 10%);
            }
        }
    }
}