@import '../../styles/Utils/variables';

.contact-title {
    text-align: left;
    color: $accent-color;
    font-size: 2rem;
    margin-top: 1rem;
    margin-right: 15rem;
}

.contact-page-container {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-right: 700px;
    font-family: 'Montserrat', sans-serif;
}

.contact-form-container {
    width: 100%;
    max-width: 320px; 
    margin: auto; 
    
}

.contact-rrss {
    margin-top: 30px;
    margin-bottom: 30px;

    .contact-rrss-icon {
        font-size: 2rem;
        margin: 0 10px;
        color: $font-color;
        transition: color 0.3s ease;
    }

    .contact-rrss-icon:hover {
        color: $accent-color;
    }
}